<h1>Long Name: <%= @store.long_name %></h1>
<p>City: <%= @store.city %></p>
<p>State: <%= @store.state %></p>
<p>Phone: <%= @store.phone %></p>
<p>Store Type: <%= @store.store_type %></p>
<p>Address: <%= @store.address %></p>
<p>Hours: <%= @store.hours %></p>
